main{
    background-color: $primary-background;
    min-height: 90vh;

    .container{

        @include flexy($dir:column);
        margin: 0 10%;
        padding: 50px 0 0;

        .pic-container{
            background-color: white;
            @include flexy($just:center);
            padding: 20px;
        }

        img{
            max-width: 200px;
        }

        *{
            margin: 10px 0;
            font-family: $font-stack-primary;
        }

        button{
            background-color: $font-color-9;
            border: none;
            border-radius: 5px;
            padding: 5px;
            color: $font-stack-primary;
            cursor: pointer;
            box-shadow: 1px 1px 5px;

            &:active{
                background-color: $font-color-4;
                color: white;
            }
        }
    }
}

@include mq("md"){
    .container{
        img{
            max-width: 500px !important;
        }
    }
}

@include mq("lg"){
    .container{
        img{
            max-width: 800px !important;
        }
    }
}